

body {
    background-color: white;
}

.card {
    display: flex;
    background-color: black;
    color: white;
}

h1 {
    color: white;
    
}

#aboutPlanets {
    color: white;
    font-weight: bold;
    padding: 18% 50% 16% 5%;
    text-align: left;
    background-image: url(/images/about_planets_background.webp);
    
}



